Source: qevercloud
Priority: optional
Maintainer: Boyuan Yang <073plan@gmail.com>
Build-Depends:
 cmake (>= 3.0.2),
 debhelper (>= 10),
 doxygen,
 lemon,
 libqt4-dev,
 libqt5webkit5-dev,
 libqtwebkit-dev,
 qttools5-dev (>= 5.2.1),
 qttools5-dev-tools (>= 5.2.1),
Standards-Version: 3.9.8
Section: libs
Homepage: https://github.com/d1vanov/QEverCloud
Vcs-Git: https://github.com/hosiet/QEverCloud.git
Vcs-Browser: https://github.com/hosiet/QEverCloud

Package: libqt4qevercloud3
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Pre-Depends:
 ${misc:Pre-Depends},
Description: Unofficial Evernote Cloud API library for Qt4
 QEverCloud presents a rather complete Evernote SDK for Qt.
 Nearly all the functionality described on Evernote site
 is implemented and ready to use.
 .
 This library works with Qt4.

Package: libqt5qevercloud3
Architecture: any
Multi-Arch: same
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Pre-Depends:
 ${misc:Pre-Depends},
Description: Unofficial Evernote Cloud API library for Qt5
 QEverCloud presents a rather complete Evernote SDK for Qt.
 Nearly all the functionality described on Evernote site
 is implemented and ready to use.
 .
 This library works with Qt5.

Package: qevercloud-doc
Section: doc
Architecture: all
Depends:
 libjs-jquery,
 ${misc:Depends},
Description: QEverCloud library documentation
 QEverCloud presents a rather complete Evernote SDK for Qt.
 Nearly all the functionality described on Evernote site
 is implemented and ready to use.
 .
 This package provides the documentations for the library.

Package: qt4qevercloud-dev
Section: libdevel
Architecture: any
Depends:
 libqt4qevercloud3 (= ${binary:Version}),
 ${misc:Depends},
Suggests:
 qevercloud-doc,
Description: Development files for libqt4qevercloud
 QEverCloud presents a rather complete Evernote SDK for Qt.
 Nearly all the functionality described on Evernote site
 is implemented and ready to use.
 .
 This package provides development files for libqt4qevercloud.

Package: qt5qevercloud-dev
Section: libdevel
Architecture: any
Depends:
 libqt5qevercloud3 (= ${binary:Version}),
 ${misc:Depends},
Suggests:
 qevercloud-doc,
Description: Development files for libqt5qevercloud
 QEverCloud presents a rather complete Evernote SDK for Qt.
 Nearly all the functionality described on Evernote site
 is implemented and ready to use.
 .
 This package provides development files for libqt5qevercloud.
