#!/usr/bin/make -f
# -*- makefile -*-
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

# Multiarch support
export DEB_HOST_MULTIARCH ?= $(shell dpkg-architecture -qDEB_HOST_MULTIARCH)

# Set directory variables
_QEVERCLOUD_QT5_BUILDDIR = build-qt5
_QEVERCLOUD_GENERATOR_DIR = QEverCloudGenerator

%:
	dh $@

custom_regenerate_from_thrift:
	(cd $(_QEVERCLOUD_GENERATOR_DIR); cmake .;)
	$(MAKE) -C $(_QEVERCLOUD_GENERATOR_DIR)
	mkdir -p QEverCloud/src/generated
	mkdir -p QEverCloud/headers/generated
	mv -t QEverCloud/src/generated \
	    $(_QEVERCLOUD_GENERATOR_DIR)/generated/generated/*.cpp \
	    $(_QEVERCLOUD_GENERATOR_DIR)/generated/generated/types_impl.h
	mv -t QEverCloud/headers/generated \
	    $(_QEVERCLOUD_GENERATOR_DIR)/generated/generated/*.h

override_dh_auto_clean:
	dh_auto_clean
	rm -rf $(_QEVERCLOUD_QT5_BUILDDIR)
	(cd $(_QEVERCLOUD_GENERATOR_DIR); $(MAKE) clean || true;)

override_dh_auto_configure: custom_regenerate_from_thrift
	# -DCMAKE_INSTALL_LIBDIR is not handled by debhelper now,
	# temporarily writing explicitly here to override. That line
	# should be re-analyzed and removed after debhelper bug #833789
	# get fixed.
	#
	# configure twice here, for Qt4 and Qt5.
	dh_auto_configure -- \
	    -DCMAKE_INSTALL_LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)
	dh_auto_configure --builddirectory=$(_QEVERCLOUD_QT5_BUILDDIR) -- \
	    -DUSE_QT5=1 -DUSE_QT5_WEBKIT=1 \
	    -DCMAKE_INSTALL_LIBDIR=/usr/lib/$(DEB_HOST_MULTIARCH)

override_dh_auto_build:
	# build twice here, for Qt4 and Qt5.
	dh_auto_build
	dh_auto_build --builddirectory=$(_QEVERCLOUD_QT5_BUILDDIR)
	# build documentation here for the -doc package
	$(MAKE) -C build-qt5 doc
	$(MAKE) -C build-qt5/doc/latex
	mv build-qt5/doc/latex/refman.pdf build-qt5/doc/latex/qevercloud.pdf

override_dh_auto_install:
	# install twice here, for Qt4 and Qt5.
	dh_auto_install
	dh_auto_install --builddirectory=$(_QEVERCLOUD_QT5_BUILDDIR)

override_dh_compress:
	# do not compress qevercloud.pdf, since few spaces can be squashed
	# and .pdf.gz file is hard to be opened by common pdf reader
	dh_compress -X.pdf --

override_dh_installdocs-indep:
	dh_installdocs --indep --
	# strip doxygen documents
	dh_doxygen

.PHONY: custom_regenerate_source_code
